html,
body{
  font-family: 'Raleway', sans-serif;
  color: #f3f3f3;
}

.muted{
  opacity: 0.6;
}

.golden{
  color: #FADA5E;
}

/*All the CSS for the "Intro" section*/
#intro{
  width: 100vw;
  height: 100vh;

  display: table;

  background-color: #262324;
}

.intro-container{
  position: relative;
  margin-top: 35vh;
  margin-left: 5vw;
}

.intro-container h1{
  font-size: 10vh;
  line-height: 80%;
  text-decoration: none;
}

.intro-container h4{
  line-height: 30%;
}

.intro-container hr{
  margin: auto;
}

.intro-container a{
  color: #f3f3f3;
}

/*All the CSS for the "About" section*/
#about{
  width: 100vw;
  height: auto;
  padding-bottom: 10vh;

  background-color: #155984;
}

.about-container{
  margin-left: 5vw;
  padding-top: 3vh;
}

.about-container h2{
  font-size: 7vh;
}

.about-container p{
  font-size: 3vh;
  line-height: 110%;
}

/*All the CSS for the "Projects" section*/
.project-container{
  width: 100vw;
  height: 100vh;
}